#App, #App-header, #round-header {
  display: flex;
  justify-content: center;
}

#App {
  min-height: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  background: rgb(48,48,48);
  background: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(128,128,128,1) 100%);
}

#App-header {
  background-color: #282c34;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: calc(0.625rem + 2vmin);
  color: white;
}

#main, #game {
  max-width: 68.75rem;
}

#round-header {
  align-items: center;
}

#name-input {
  width: 15ch;
}

.line {
  min-height: 3rem;
  text-align: center;
  font-family: algerian;
  color: white;
  margin-top: 2rem;
}

.title {
  font-size: 2.3rem;
  margin-bottom: -2rem;
}

.subtitle {
  font-size: 1.7rem;
}