.gamecard.blackcard {
  background: black;
  border: 0.1875rem outset gray;
  color: white;
  box-shadow: 0 0.25rem 0.5rem -0.125rem slategray, 0 0.375rem 1.25rem -0.125rem gray;
  cursor: not-allowed;
}

.gamecard.whitecard {
  background: white;
  border: 0.1875rem outset aliceblue;
  box-shadow: 0 0.125rem 0.375rem -0.125rem lightblue, 0 0.25rem 0.875rem -0.125rem gray;
}

.gamecard.whitecard[data-sel="true"]{
  background: yellow;
  box-shadow: 0 0.125rem 0.375rem 0 gray, 0 0.375rem 1.25rem 0 yellow;
}

.gamecard {
  font-size: 1.125rem;
  line-height: 1.375rem;
  height: 12.5rem;
  width: 12.5rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border-radius: 0.9375rem 2.5rem;
  padding: 0.1875rem;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

#currentcard {
  border-radius: 0.9375rem;
  float: none;
  box-shadow: 0 0.125rem 0.375rem 0 lightblue, 0 0.25rem 0.875rem -0.125rem gray;
}

.outer, .hand, .gamecard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hand.judging > .currentProposal > .gamecard.blackcard {
  cursor: pointer;
}

.hand.judging > .currentProposal > .cardowner {
  display: none;
}

.hand.judging > .gamecard.whitecard {
  cursor: not-allowed;
  background: gray;
}

.outer, .hand {
  flex-wrap: wrap;
  width: 100%;
}

.previousProposal {
  width: 13.75rem;
  overflow: hidden;
}

.previousProposal[data-winner="true"] > .gamecard.blackcard {
  border: .2rem groove yellow;
}

.cardowner {
  font-size: 1.5625rem;
  font-weight: bold;
  color: silver;
  margin-bottom: .25rem;
  margin-top: .5rem;
  white-space: nowrap;
}