#scoreboard {
  position:absolute;
  border: 0.3125rem outset darkgray;
  border-collapse: separate;
  border-radius: 0.9375rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
  background: silver;
  right: 2%;
}

#scoreboardtitle {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.875rem;
  text-align: center;
}

.name {
  text-align: center;
  border: 0.0625rem groove gray;
  border-radius: 0.25rem;
  max-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
}

.name[data-me="true"]{
  font-weight: bold;
}

.name[data-submitted="false"]{
  background-color: rgba(255, 0, 0, .2);
}

.name[data-judge="true"]{
  background-color: gold;
}
 
.score {
  width: auto;
  min-width: 1.875rem;
  text-align: center;
  border: 0.0625rem groove gray;
  border-radius: 0.25rem;
}